body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
}
h1 {
    font-size: 1.5rem;
}
.link-button {
    transition: background-color 0.2s, color 0.4s;
    background-color: rgb(4, 159, 217);
    margin: 0.5rem;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 1.6rem;
    align-self: center;
    height: 1.8rem;
    cursor: pointer;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px 0px;
}
.header-link {
    align-self: center;
}
.header-inner {
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    height: 40px;
    display: flex;
}
.logo {
    height: 23px;
    width: 63px;
}
.title {
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-left: 2rem;
    min-width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}
.content {
    margin: 4rem 2rem;
}
.flex {
    display: flex;
}
.form {
    flex-grow: 1;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    width: 400px;
}
.container-50 {
    flex-grow: 1;
    box-sizing: border-box;
}
.input-container {
    margin: 0.5rem;
    background-color: rgba(248, 223, 106, 0.67);
    color: rgb(51, 51, 51);
    padding: 0.3rem 0.7rem 0.7rem;
    min-width: 22.6rem;
    min-height: 2.8rem;
    position: relative;
    border-radius: 0.5rem;
}
.input-heading {
    margin-left: 0.2rem;
    margin-bottom: 0.4rem;
}
.input-field {
    width: 100%;
    color: rgb(51, 51, 51);
    border: none;
    font&#45;size: 1rem;
    cursor: pointer;
}
.submit-button {
    transition: background-color 0.2s, color 0.4s;
    background-color: rgb(143, 212, 141);
    margin: 0.5rem;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    align-self: center;
    height: 1.8rem;
    cursor: pointer;
    min-width: 24rem;
}
